# Ambiente virtual
venv/
.env/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Configurações do VS Code
.vscode/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Dados brutos (descomente se NÃO quiser versionar)
# data/raw/
